body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

a.paymentOption:hover
{
    color: red !important;
}

a.paymentOption
{
    display: inline-block;
    color: inherit;
    padding: 8px 0;
}

#paymentForm
{
    border: 1px solid lightgray;
    padding: 20px;
    background-color: #f6f4f6;
}

.help-block {
    display: none;
}

.StripeElement--invalid, .StripeElement--empty, .StripeElement--focus {
    margin-bottom: 0 !important;
}

.StripeElement--focus
{
    outline: 0 !important;
    border: 1px solid #8a8a8a !important;
    background-color: #fefefe !important;
    box-shadow: 0 0 5px #cacaca !important;
    transition: box-shadow .5s,border-color .25s ease-in-out !important;
    color :red !important;
}

button {
    color: white;
}
